.nav-link {
  color: #135E4B; /* Forest Green */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: #4CB572; /* Vibrant Green */
}

.nav-link.active {
  color: #4CB572 !important; /* Mint Green */
  text-decoration: underline;
  background: #fff !important;
  
}

.navbar-logo {
  /* Add specific styles for your logo here */
  margin: 8px; /* Example: Add some spacing */
  max-width: 50px;
  height: auto;
  border-radius: 5px;
  /* margin-bottom: 1rem; */
}

.navitem-logo{
    max-width: 70px;

}

.nav-link.active {
  color: #135E4B !important;
  font-weight: bold;
  border-bottom: 2px solid #4CB572;
}
